*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-100: #454e4f;
  --black-200: #252e2f;
  --brown-100: #422623;
  --brown-200: #5c3530;
  --white-100: #fefefe;
  --white-200: #f2f5f5;
  --sans: 'Open Sans', system-ui, sans-serif;
  --font-sm: 14px;
  --font-base: 16px;
  --font-mx: 17px;
  --max-w: 35rem;
}

body,
html {
  font-size: var(--font-base);
  font-family: var(--sans);
  text-rendering: optimizeSpeed;
  color: var(--black-200);
  background-color: var(--white-100);
}

a {
  color: inherit;
  text-decoration: none;

  &:is(.link) {
    text-decoration: underline;
    word-break: break-all;
    color: var(--brown-200);
  }
}

p,
.hero {
  text-align: center;
  text-wrap: pretty;

  &:is(.paragraph) {
    font-size: var(--font-mx);
  }
}

.container {
  max-width: var(--max-w);
  width: 90%;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.title {
  font-size: clamp(1.25rem, 4vw + 1rem, 2.75rem);
  text-transform: capitalize;
  letter-spacing: -0.025em;
  margin-bottom: 0.25rem;

  & > span {
    text-transform: uppercase;
  }
}

.footer {
  font-size: var(--font-sm);
}
